.app {
    min-height: 100vh;
    height: 100%;

    @include desktop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 100vw;
    }

}

.page {
    background-color: #1a1b15;
    min-height: 100vh;
}

.centered-content {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 0;
}